@charset 'utf-8';

.actions-list {
  display: flex;
  flex-direction: column;
  min-width: 20em;
  width: fit-content;
  min-height: 20em;
  height: fit-content;

  background-color: var(--c-sheet);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}

.actions-list__header {
  display: flex;
  padding: 0.5rem 1rem;

  background-color: var(--c-dark);

  & p {
    font-size: var(--fs-large);
  }
}

.actions-list__item-limit {
  margin-left: auto;
}

.actions-list__content {
  margin-top: 1em;
  padding: 1em;
  width: 100%;

  & > table {
    border-collapse: collapse;
    width: 100%;
  }

  & > table > thead {
    background-color: var(--c-light);
  }

  & > table td {
    text-align: center;
    border: 1px solid #ddd;
    padding: 8px;
  }

  & > table tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  & > table tr:hover {
    background-color: #ddd;
  }
}

.actions-list__footer {
  display: flex;
  margin-top: auto;
  width: 100%;
  padding: 0.5em;
}

.btn--cta,
.btn--ghost {
  padding: 0.25em 1em;
  border-radius: 0.25em;
  border: 2px solid var(--c-primary);
}

.btn--cta {
  margin-left: auto;
  background-color: var(--c-primary);
}

.btn--ghost {
  background-color: transparent;
}

.btn--cta:disabled,
.btn--ghost:disabled {
  opacity: 0.5;
}
