@charset 'utf-8';

.menu {
  margin-bottom: 2em;

  background-color: var(--c-sheet);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}

@media (min-width: 750px) {
  .menu {
    margin-right: 2em;
    margin-bottom: 0;
  }
}

.menu__header {
  display: flex;
  padding: 0.5rem 1rem;

  background-color: var(--c-dark);

  & p {
    margin: auto;
    font-size: var(--fs-large);
  }
}

.menu__btns {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
  padding: 1em;
}

.menu__btn {
  padding: 1em 3em;

  border: 2px solid var(--c-primary);
  border-radius: 0.25em;
}

.menu__btn--list {
  margin-top: 1em;
}
